body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

.res {
    border-radius: 15px;
    padding: 40px;
    background-color: #307b80;
    color: white;
}
