header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 40px;
    background-color: #E5230E;
}

.subheader {
    font-size: 20px;
    padding-top: 20px;
}
